.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 60vh;
    max-width: 27vw;
    gap:2vw;
    margin: 20vh auto auto auto;
    padding: 80px 10px 40px 10px;
    border: 5px solid rgb(71, 69, 69);
    background-color: rgb(197, 191, 191);
}
button{
    width: 7vw;
    height: 5vh;
    background-color: aliceblue;
}
#display{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 27vw;
   
   min-height: 12vh;
    padding-bottom: 10px;
    margin-bottom: 3vh;
    padding-top: 10px;
    /* styles */
    background-color: rgb(18, 163, 203);
    border: 2px solid rgb(181, 31, 31);
}